.googlefont{
              background-color: white;
              color: black;
}

.wider-input{
    width: 100%;
}

.register{
            color: black;
            text-align: center;
}

.nav-linkr{
  
    text-align: center;
    text-decoration: none;
}